<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <ul class="sidenav-nav" *ngFor="let data of navData">
        <li>
            <a href="" class="sidenav-nav-link" [routerLink]="data.routerLink">
                <img src="../../../assets/icone.png" alt="">
            </a>
        </li>
        <li>
            <a href="" class="sidenav-nav-link" [routerLink]="data.routerLink">
                <i class="sidenav-link-icon-list fa fa-bars"></i>
            </a>
        </li>
        <li>
            <a href="" class="sidenav-nav-link" [routerLink]="data.routerLink">
                <i class="sidenav-link-icon-search fal fa-search"></i>
            </a>
        </li>
        <li>
            <a href="" class="sidenav-nav-link" [routerLink]="data.routerLink">
                <i class="sidenav-link-icon-search fa fa-star"></i>
            </a>
        </li>
        <li>
            <a href="" class="sidenav-nav-link" [routerLink]="data.routerLink">
                <i class="sidenav-link-icon-comments fa fa-comment"></i>
            </a>
        </li>
        <li>
            <a href="" class="sidenav-nav-link" [routerLink]="data.routerLink">
                <i class="sidenav-link-icon-building fa fa-building"></i>
            </a>
        </li>
    </ul>
</div>