.admission__form {
    padding: 20px;

    .admission__form-header {
        margin-left: 2rem;

        .admission__form-title-header{
            line-height: 0;
            font-size: 22px;
            font-weight: bold;
        }

        .admission__form-subtitle-header {
            font-size: 13px;
        }
    }
}

.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  


.admission__form-input {
    font-family: 'Roboto' open-sans;
    font-size: 15px;
    text-align: center;
    border: 1px solid #c4c4c4;
    width: 280px;
    height: 37px;
}

.admission__form-content {
    width: 100%;
    height: 75vh;
    padding: 0.5rem;
    background-color: #d0dee5;

    .admission__form-caminho {
        text-align: center;
        align-items: center;
    }

    .admission__form-stepper {
        margin-left: 400px;
        align-items: center;
        width: 80vh;
        background-color: #d0dee5;
    }

    .admission__form-form {
        margin-left: 1rem;
    }

    .admission__form-title-cpf {
        margin-left: 0.225rem;
        font-size: 22px;
    }

    .admission__form-subtitle-ad {
        margin-left: 0.225rem;
        font-size: 12px;
        line-height: 0.3rem;
        margin-bottom: 30px;
    }

    .admission__form-cpf {
        font-size: 16px;
        line-height: 0;
    }

    .admission__form-card {
        width: 300px;
    
        .admission_form-card-title {
            margin-top: 0.5rem;
            font-size: 16px;
            line-height: 0;
            font-weight: bold;
        }
    
        .admission__form-card-subtitle {
            line-height: 0;
            // font: 'Roboto', open-sans;
            font-size: 12px;
        }
    
       .admission__form-card-name {
        align-items: row;
       }

       .admission__form-card-icon {
        width: 20px;
        height: 20px;
        margin-top: 15px;
       }

       .admission__form-card-title-name {
        margin-left: 10px;
        font-size: 12px;
        margin-top: 15px;
        line-height: 0.2rem;
       }

       .admission__form-card-subtitle-name {
        font-weight: bold;
        margin-left: 10px;
        font-size: 14px;
        margin-top: 15px;
        line-height: 0;
       }

       .admission__form-card-title-situation {
        margin-left: 10px;
        font-size: 12px;
        margin-top: 15px;
        line-height: 0.2rem;
       }

       .admission__form-card-subtitle-situation {
        font-weight: bold;
        margin-left: 10px;
        font-size: 14px;
        margin-top: 15px;
        line-height: 0;
       }    
    }

    .admission__form-card-account {
        width: 300px;

        .admission_form-card-account-title{
            margin-top: 0.5rem;
            font-size: 16px;
            line-height: 0;
            font-weight: bold;
        }

        .admission__form-card-account-subtitle {
            line-height: 0;
            // font: 'Roboto', open-sans;
            font-size: 12px;
        }

        .admission__form-card-account {
            align-items: row;
        }

        .admission__form-card-icon {
            width: 20px;
            height: 20px;
            margin-top: 15px;
        }
        .admission__form-card-title-account {
            margin-left: 10px;
            font-size: 12px;
            margin-top: 15px;
            line-height: 0.2rem;
        }

        .admission__form-card-subtitle-account {
            font-weight: bold;
            margin-left: 10px;
            font-size: 14px;
            margin-top: 15px;
            line-height: 0;
        }

        .admission__form-card-button {
            margin-top: 7px;
            color: blue;
        }
    }
}

.admission__form-footer {
    margin-top: 1.25rem;
    margin-left: 0.625rem;
}

.admission__form-title { 
    margin-left: 15px;
    font-size: 30px;
}